numpy                       >= 1.14.0
matplotlib                  >= 2.2.0
tqdm                        >= 4.23.0
python_speech_features      >= 0.6
scipy                       >= 1.0.1
gitpython                   >= 2.1.9
requests                    >= 2.20
ipython                     >= 6.2.1
tensorflow                  >= 1.9.0
nvidia-ml-py3               >= 7.352.0
librosa